Options +Indexes
IndexOptions +Charset=UTF-8 +FancyIndexing +IgnoreCase +FoldersFirst +XHTML +HTMLTable +SuppressRules +SuppressDescription +NameWidth=* +IconsAreLinks

IndexHeadInsert "<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />"

IndexIgnore .git .gitignore .htaccess /theme /artwork

HeaderName /theme/header.html
ReadmeName /theme/footer.html
IndexStyleSheet "/theme/style.css"

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteCond %{HTTP_USER_AGENT} !wispr$
  RewriteRule ^ / [L,R=302]
</IfModule>
